# Ignore build and output folders
bin/
obj/

# Ignore compiled files
*.dll
*.exe
*.pdb

# Ignore cache and debug files
*.cache
*.sourcelink.json

# Ignore user-specific and temporary files
*.user
*.suo
.vs/